[Desktop Entry]
Name=Tmux
Comment=Use the command line from Tmux
Keywords=shell;prompt;command;commandline;cmd;
Type=Application
Icon=org.gnome.Terminal
Exec=env AUTO_TMUX=1 gnome-terminal
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
StartupWMClass=Gnome-terminal

